<h2> <%= @article.title %></h2>
<p><%= @article.content %></p>
<%= link_to "Edit", article_edit_path %>
<%= link_to "Delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Vous êtes sûr?"} %>
<%= link_to "Back", articles_path %>
